/*
Author: Cameron Smith
Date: 3/14/23
File Name: styles.css
*/
/*css reset*/
body,
header,
nav,
main,
footer,
h1,
div,
img,
ul {
    margin: 0;
    padding: 0;
    border: 0;
}

/*style rules for body and img*/
body {
    background-color: #000;
}

img {
    max-width: 25%;
    display: block;
    border: 5px solid #d4af37;
}

/*style rules for header*/
header {
    top: 0;
    background-color: #D3D3D3;
    height: 210px;
}

header img {
    margin: 0 auto;
}
.text{
    color: orange;
}

/*setup vertical navbar*/

nav {
    padding: 1%;
}

nav ul {

    float: right;
    list-style-type: none;

    background-color: #f1f1f1;
    border: 1px solid #555;
    text-align: right;
    margin-left: 200px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 150px;
    margin-bottom: 280px;
}

nav li {
    font-size: 1em;
    font-family: 'Francois One', sans-serif;
}

nav li a {
    display: block;
    color: #000;
    /*padding: 8px 16px;*/
    padding: 0.5em 1em; 
    text-decoration: none;
    border-bottom: 1px solid #555;
}

nav li a:hover {
    background-color: #555;
    color: white;
}

nav li:last-child {
    border-bottom: none;
}

/*show mobileclass hide other class*/
.mobile {
    display: block;
}

.tablet-desktop {
    display: none;
}

main {
    background-color: #fff;
    padding: 2%;
    margin: 0 auto;

}

main img {
    max-width: 150px;
}

main h1 {
    font-size: 1.25em;
    text-align: left;
    color:aqua;
}

main h2 {
    font-size: .80em;
    text-align: left;
}

main h3 {
    font-size: .80em;
    text-align: left;
}

main p {
    font-size: .80em;
    text-align: left;
}

footer p {
    font-size: 0.75em;
    text-align: center;
    color: #fff;
    padding: 0 1em;
}
/* media query for desktop*/
@media screen and (min-width: 769px) {
    .mobile{
        display: block;
    }
    img {
        max-width: 50%;
        display: block;
    }

    /*style rules for header*/
    header {
        background-color: #808080;
        height: 270px;

    }

    header img {
        margin-left: 20px;
    }

    .container {
        display: block;

    }

    .image {
        max-width: 40%;
        padding-left: 500px;
        align-self: center;
        

    }

    .text {
        text-align: center;

    }

    /*setup vertical navbar*/

    nav {
        padding: 1%;
        
    }

    nav ul {

        float: right;
        list-style-type: none;

        background-color: #f1f1f1;
        border: 1px solid #555;
        text-align: right;
        margin-left: 950px;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        width: 300px;
        margin-bottom: 100px;
    }

    nav li {
        font-size: 1.5em;
        font-family: 'Francois One', sans-serif;
    }

    nav li a {
        display: block;
        color: #000;
        padding: 8px 16px;
        text-decoration: none;
        border-bottom: 1px solid #555;
    }

    nav li a:hover {
        background-color: #555;
        color: white;
    }

    nav li:last-child {
        border-bottom: none;
    }

    main {
        background-color: #fff;
        padding: 2%;
        margin: 0 auto;
        font-size: 1.75em;
        padding-right: 300px;
    }

    main img {
        max-width: 50%;
    }
    main h1{
        font-size: 2em;
        color: #39FF14;
    }

    footer p {
        font-size: 1em;
        text-align: center;
        color: #fff;
        padding: 0 1em;
    }
}
